/* Whole Document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --fbg-colour: #ACB7DF;
    --fsecond-bg-colour: #68749D;
    --faccent-colour: #c5788f;
    --sbg-colour: #7998C2;
    --ssecond-bg-colour: #26456D;
    --saccent-colour: #7FABAA;
    --text-colour: #ffffff;
    --heading-text: 1.8rem;
    --p-text: 1.2rem;
}

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%; 
}

h1{
    color: var(--text-colour);
    padding-bottom: 20px;
    font-size: var(--heading-text);
}

h1 span{
    border-bottom: 5px solid;
    border-color: var(--faccent-colour);
}

p{
    color: var(--text-colour);
    font-size: var(--p-text);
}

section{
    padding: 50px;
    box-sizing: border-box;
    height: 85vh; 
}

.button{
    padding: 10px 20px;
    background-color: var(--fbg-colour);
    color: var(--text-colour);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: var(--p-text);
    transition: all .45s ease;
}

.button:hover{
    background-color: var(--faccent-colour);
    color: black;
}

/* Header Section */
header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--faccent-colour);
    z-index: 10;
}

#logo{
    width: 100px;
    height: 100px;
    float: none;
    padding: px;
}

nav{
    margin-right: auto;
}

.navList{
    display: flex;
    list-style: none; 
    padding: 30px;
}

.navList a{
    text-decoration: none;
    color: var(--text-colour);
    font-size: var(--p-text);
    font-weight: 500;
    margin: 0 15px;
    transition: all .45s ease;
}

.navList a:hover{
    color: var(--fbg-colour);
    text-shadow: 1px 1px 2px var(--fsecond-bg-colour), 0 0 5px black, 0 0 5px var(--fbg-colour);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sticky + .content {
    padding-top: 60px;
}

/* Home Section */
#home{
    background-image: url(images/background.jpg);
    background-size: cover;
}

/* About Me Section */
#about{
    background-color: var(--fsecond-bg-colour);
}

#about aside{
    width: 50%;
    height: 100%;
    padding: 10px;
    float: left;
}

#about article{
    width: 50%;
    height: 100%;
    padding: 20px 50px 20px 0px;
    float: right;
}

.flip-card {
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    padding: 20px 0px 20px 50px;
    width: 80%;
    height: 90%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front{
    align-content: center;
    box-shadow: 10px 10px 15px var(--faccent-colour);
    border-radius: 5px;
}

.flip-card-back{
    transform: rotateY(180deg);
    box-shadow: -10px -10px 15px var(--faccent-colour);
    border-radius: 5px;
}

.flip-card-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* Skills Section */
#skills{
    background-color: var(--fbg-colour);
}

.skills_right{
    width: 50%;
    height: 100%;
    padding: 20px 50px 20px 0px;
    float: right;
}

.skills_left{
    width: 50%;
    height: 100%;
    padding: 20px 50px 20px 0px;
    float: left;
}

.box .progress_bar_box{
    display: flex;
    align-items: center;
}
.box .progress_bar_box .progress_bar{
    width: 100%;
    height: 10px;
    background-color: #f2f2f2;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
}
.box .progress_bar_box .progress_bar .line{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--fsecond-bg-colour);
    border-radius: 100px;
    transition: 0.2s;
    background-image: none;
}

.box .progress_bar_box .progress_bar .line::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/background.png);
    background-size: 100%;
    background-repeat: repeat;
    background-position: 0 0;
    animation: animate 10s linear infinite;
}

.box .progress_bar_box .increasing_percentage{
    margin-left: 10px;
    font-size: 25px;
}
.box .progress_bar_box .total_percentage{
    display: none;
}

/* Projects Section */
#projects{
    background-color: var(--fsecond-bg-colour);
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Contact Section */
#contact{
    background-color: var(--fbg-colour);
}
